name: build

on:
  push:
    branches:
    - main
    tags:
    - ver-*
  pull_request: { }

defaults:
  run:
    shell: bash

jobs:
  build:
    if: ${{
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event_name == 'push' && !startsWith(github.event.head_commit.message, '[skip ci]') && !startsWith(github.event.head_commit.message, '[push-back]'))
      || github.event_name != 'push'
     }}
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      GRADLE_OPTS: -Dorg.gradle.parallel=true -Dorg.gradle.workers.max=4 -Dorg.gradle.warning.mode=all -Dorg.gradle.daemon=false -Dhttp.keepAlive=false -Dsun.net.client.defaultConnectTimeout=15000 -Dsun.net.client.defaultReadTimeout=600000 -Dsun.net.http.retryPost=false -Dsun.io.useCanonCaches=false -Djava.awt.headless=true -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

    steps:
    - name: Setup Java 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: zulu

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
        lfs: true
        fetch-depth: 0

    - name: Adjust files to be built on CI
      run: |
        sed -i 's/-all\.zip/-bin.zip/' gradle/wrapper/gradle-wrapper.properties

    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Cache Gradle wrapper
      id: gradle-wrapper
      uses: actions/cache@v3
      with:
        key: ${{runner.os}}-gradle-wrapper-${{hashFiles('gradle-wrapper.properties')}}
        path: |
          ~/.gradle/wrapper/dists
    - name: Cache Gradle caches
      id: gradle-caches
      uses: actions/cache@v3
      with:
        key: ${{runner.os}}-gradle-caches-${{hashFiles('gradle-wrapper.properties', '**/*.gradle', '**/gradle.properties')}}
        path: |
          ~/.gradle/caches
          ~/.gradle/notifications


    - name: Compile
      run: |
        ./gradlew allClasses
        echo "DISABLE_COMPILATION=true" >> "$GITHUB_ENV"

    - name: Build
      run: |
        ./gradlew build allTests


    - name: Push back
      env:
        PUSH_BACK_TOKEN: ${{secrets.PUSH_BACK_TOKEN}}
      if: ${{env.PUSH_BACK_TOKEN && github.event_name == 'push' && startsWith(github.ref, 'refs/heads/')}}
      uses: remal-github-actions/push-back@v1
      with:
        githubToken: ${{env.PUSH_BACK_TOKEN}}
        message: '[push-back] Push-back updated files during build'
